<a href="https://colab.research.google.com/github/cortiz313/Machine-Learning-Class/blob/main/Puzzlers/Friday_puzzler_1_28_23_Discrimination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Friday Puzzler: Discrimination

### For this week's friday puzzler, we are answering this question based on the data provided in this [link](https://docs.google.com/spreadsheets/d/177mpcijcT1howTNwIzPTr5mzVDaUf84wPzfSQunjna4/edit#gid=332175317):

### *Does this university discriminate based on sex for admissions?*

### I will determine my answer based on the evaluations I will perform below.

## Step 1: Setup Environment

In [126]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format # change floats to only show 2 decimal places

## Step 2: Import Data

In [127]:
universityInfo = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/graduate.csv')
universityInfo

       Admit  Gender Dept  Freq
0   Admitted    Male    A   512
1   Rejected    Male    A   313
2   Admitted  Female    A    89
3   Rejected  Female    A    19
4   Admitted    Male    B   353
5   Rejected    Male    B   207
6   Admitted  Female    B    17
7   Rejected  Female    B     8
8   Admitted    Male    C   120
9   Rejected    Male    C   205
10  Admitted  Female    C   202
11  Rejected  Female    C   391
12  Admitted    Male    D   138
13  Rejected    Male    D   279
14  Admitted  Female    D   131
15  Rejected  Female    D   244
16  Admitted    Male    E    53
17  Rejected    Male    E   138
18  Admitted  Female    E    94
19  Rejected  Female    E   299
20  Admitted    Male    F    22
21  Rejected    Male    F   351
22  Admitted  Female    F    24
23  Rejected  Female    F   317

## Step 3: Creating Functions to Create a New DataFrame Dynamically

#### This new DataFrame will show the admissions percentage for each department and for each gender

In [128]:
def calcTotal(admitted, rejected) :
  return admitted + rejected

In [129]:
def calcPercentage(admitted, total) :
  return admitted / total

#### The function below will iterate over the initial data and build our new admissions DataFrame

In [130]:
# Function to build the admissions dataframe 
def calculateAdmissions():
  stats = {'Dept': [],
         'Gender': [],
         'Admission %': []
              }
  finalDf = DataFrame(stats)
  
  count = universityInfo.count()
  numCount = count[0]
  for i in range(0, numCount - 1, 2): # I iterate by 2 each time because the initial data has admission and rejection numbers for a single department and a single gender back to back
    dept = universityInfo.loc[i]['Dept']
    gender = universityInfo.loc[i]['Gender']
    admittedTotal = universityInfo.loc[i]['Freq']
    rejectedTotal = universityInfo.loc[i + 1]['Freq']
    total = calcTotal(admittedTotal, rejectedTotal)
    pctAdmitted = calcPercentage(admittedTotal, total) * 100
    statistics = {'Dept': dept, 'Gender': gender, 'Admission %': pctAdmitted}
    finalDf = finalDf.append(statistics, ignore_index=True)
  return finalDf

##Step 4: Printing the Data

In [131]:
admissionsData = calculateAdmissions()
admissionsData

   Dept  Gender  Admission %
0     A    Male        62.06
1     A  Female        82.41
2     B    Male        63.04
3     B  Female        68.00
4     C    Male        36.92
5     C  Female        34.06
6     D    Male        33.09
7     D  Female        34.93
8     E    Male        27.75
9     E  Female        23.92
10    F    Male         5.90
11    F  Female         7.04

## Step 5: Sort the Data

In [132]:
sortedAdmissions = admissionsData.sort_values(by=['Admission %'], ascending=False)
sortedAdmissions

   Dept  Gender  Admission %
1     A  Female        82.41
3     B  Female        68.00
2     B    Male        63.04
0     A    Male        62.06
4     C    Male        36.92
7     D  Female        34.93
5     C  Female        34.06
6     D    Male        33.09
8     E    Male        27.75
9     E  Female        23.92
11    F  Female         7.04
10    F    Male         5.90

## Step 5: Conclusion

### As we can see from the data, admissions is fairly even amongst males and females. If we look at the first chart which is arranged based on department, we can see that the admissions percentage is nearly identical for males and females across a single department, with the only significant difference being that females have a 20% higher admission percentage for department A.

###If we look at the sorted data in the second chart above, we can see that females actually hold the top 2 positions as far as admissions percentage, however the data follows a pattern of 2 female rows, 2-3 males, 2 female rows, etc which shows a fairly even distribution for admissions. And again if we observe the actual numbers, we can see that the admissions are very close to being even across genders.

### In conclusion, we can clearly see that, based on this data, there is no discrimination in this university's admissions process.